<div class="container">
        <div class="row" (OnCreate)="getProductcat(GetProduct.productcat[1] )">
            <h2 class="title mt-2">{{GetProduct.productcat[1]}}</h2>
            <div class="p-4 col-md-3"   *ngFor="let prod of productcategory ">

            <div class="card p-2 product-card  ">
                <div  *ngIf="prod.selectedFile[0]">
                <img class="card-img-top item-image" [src]="prod.selectedFile[0].imageurl" alt="Card image cap">
                </div>
                <div class="card-body card-details publicproductdiv">
                    <div class="productcap">
                        <a routerLink="../../itemdetails/{{prod?.id}}" ><div>{{prod.productname}}</div></a>
                        <span class="price">{{prod.saleprice}} جنية </span>
              
                      </div>
                
            </div>
            </div>

        </div>
</div>

